*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container{
  width: 100vw;
  height: 100vh;
  background: url("background.webp");
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  width: 60%;
  height: 90%;
  background: transparent;
  padding: 1rem;
}

.show{
  width: 95%;
  height: 50%;
  background-color: white;
  margin: auto;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  border-radius: 7px;
}

h1{
  margin: 0 auto;
}

.inputs{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 8px;
  background-color: rgb(237, 238, 238);
  border-radius: 7px;
  height: 5rem;
}
.inputs > input{
  width: 77%;
  height: 100%;
  border: none;
  background: transparent;
  /* border: 1px solid rgb(147, 146, 146); */
}
.inputs > input:focus{
    border: none;
    outline: none;
    background: transparent;
}
.inputs > button{
  padding: 3px 6px;
  font-weight: 200;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
}

.inputs > button:hover{
  background-color: #45a049;
}

.slide{
  width: 95%;
  /* gap: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label{
  font-size: medium;
}
#mySlider{
 margin: 0px 5px;
 margin-top: 1rem;
}
.checkBox{
  margin: 0px 10px;
  height: 2rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.alert{
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  padding: 1rem 1rem;
  color: white;
  background-color: green;
}

.alert2{
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  padding: 1rem 1rem;
  color: white;
  background-color: red;
}

.info{
height: 50%;
width: 85%;
margin: auto;
color: black;
background: transparent;
display: flex;
padding: 1rem 1rem;
}

.info1{
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.info1 > ul{
 margin-left: 1rem;
}
.info1 > ul > li{
   margin-bottom: 7px;
}

.info2{
  width: 40%;
padding: 0rem 1rem;
display: flex;
flex-direction: column;
gap: 1rem;
}

.info2 > ul{
  margin-left: 1rem;
 }

 .info2 > ul > li{
  margin-bottom: 10px;
}
